<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Alice J Hacker</title>
    <link href="https://fonts.googleapis.com/css?family=Exo:100,200|Quattrocento+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col sidepanel">
                <h1>Jane Q <span>Hacker</span></h1>
                <img src="./img/profile.jpg" class="img-fluid rounded-circle" />

                <div class="nav flex-column nav-pills red-nav">
                    <a class="nav-link active" href="index.html"><i class="fas fa-code"></i> Blog</a>
                    <a class="nav-link" href="projects.html" ><i class="fab fa-linode"></i> Projects</a>
                    <a class="nav-link" href="contact.html"><i class="far fa-address-book"></i> About</a>
                </div>

                <div class="buttons">
                    <p>
                        <a href="#" class="btn btn-red btn-lg"><i class="fab fa-github"></i> GitHub</a>
                        <a href="#" class="btn btn-red btn-lg"><i class="fab fa-twitter"></i> Twitter</a>
                    </p>
                    <p>
                        <a href="#" class="btn btn-red btn-lg"><i class="fab fa-linkedin"></i> LinkedIn</a>
                        <a href="#" class="btn btn-red btn-lg"><i class="fab fa-npm"></i> NPM</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-8 rightpanel">
